[user]
  name = yashihei
  email = yashihei@gmail.com
[color]
  ui = auto
[alias]
  graph = log --graph --oneline --decorate
  st = status -sb
  cm = commit
  df = diff
  dfc = diff --cached
  co = checkout
  cb = checkout -b
  cop = !"git branch --all | tr -d '* ' | grep -v -e '->' | peco | sed -e 's+remotes/[^/]*/++g' | xargs git checkout"
  ref = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(authordate:iso8601) %(refname:short)' 
  poi = reset --hard HEAD
  cp = cherry-pick
[core]
  editor = vim
  filemode = false
  pager = LESS=-R less
  autocrlf = input
  quotepath = false
[push]
  default = simple
[diff "daff-csv"]
  command = daff.rb diff --git
[merge "daff-csv"]
  name = daff tabular csv merge
  driver = daff.rb merge --output %A %O %A %B
