[user]
  name = yashihei
  email = yashihei@gmail.com
[color]
  ui = auto
[alias]
  graph = log --graph --oneline --decorate
  st = status -sb
  cm = commit
  df = diff
  dfc = diff --cached
  co = checkout
  cb = checkout -b
  cop = !"git branch --all | tr -d '* ' | grep -v -e '->' | peco | sed -e 's+remotes/[^/]*/++g' | xargs git checkout"
  ref = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(authordate:iso8601) %(refname:short)' 
  poi = reset --hard HEAD
  cp = cherry-pick
  r = reset
  rh = reset --hard
  rhh = reset --hard HEAD
  rhhh = reset --hard HEAD^
  rhhhh = reset --hard HEAD^^
  rb = rebase
  ri = rebase -i
  b = branch
  f = fetch
  l = log
  m = merge
[core]
  editor = vim
  filemode = false
  pager = LESS=-R less
  autocrlf = input
  quotepath = false
[push]
  default = simple
